/*Some global styles that I wanted to apply to the page to style the page to look a bit nicer*/
img {
    align-content: center;
    height: 30%;
    width: 20%;
    border-radius: 5%;
}

body {
    background-color: #434343;
    padding: 0%;
    margin: 0%;
}

/*Here is a class that I use here that I also used in CSCN310 which just aligns elements to the middle of the page*/
.cmiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resumeinfo {
    color: #98fbcb;
    font-family: 'Inter';
}

.listcontent {
    margin-left: 10%;
    color: #b2b2b2;
    font-family: 'Inter';
}

.headerprops {
    font-family: 'Inter';
    font-size: 250%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.blogbox {
    margin-left: 15%;
    background-color:#333333;
    border-radius: 75px;
    height: 300px;
    width: 70%;
}


.ml25 {
    margin-left: 25%;
}

.ml10 {
    margin-left: 10%;
}

.ml15 {
    margin-left: 15%;
}

/*Below are some ID's that I created for a header element and an element where I talk about my hobbies that change text size, color, and the underline of a link respectively*/
#whoami {
    font-family: 'Inter';
    color: #98fbcb;
}

#messagebutton{
    margin-left: 45%;
    font-family: 'Inter';
    height: 10%;
    width: 8%;
    background-color: #98fbcb;
    border:2px solid #333333;
    border-radius: 60px;
}


#secretmessage {
    font-family: 'Inter';
    color: #b2b2b2;
}

#firstimg {
    margin-left: 15%;
}

#home {
    color: #b2b2b2;
    text-decoration: none;
}

#projects {
    color: #b2b2b2;
    text-decoration: none;
}

#blog {
    color: #b2b2b2;
    text-decoration: none;
}

#resume {
    color: #b2b2b2;
    text-decoration: none;
}

#designtext {
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Inter';
    color: #98fbcb;
}

#versiontext {
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Inter';
    color: #98fbcb;
}

#navbackground {
    background-color: #333333;
    height: 55px;
    width: 100%;
    border-radius: 5%;
}

#infobackground {
    border-radius: 5%;
    bottom: 0%;
    background-color: #333333;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#intro {
    color: #b2b2b2;
    font-size: 110%;
    align-content: center;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Inter';
}

#linebreak {
    width: 90%;
    border-color: #333333;
    border-style: solid;
}

/* I used the link https://www.w3schools.com/css/css3_mediaqueries.asp and the examples to make these media queries as I have not done these before, please ignore the color scheme I know it may not look the absolute best I did it to clearly show the media queries in an easy way*/

@media screen and not (min-width: 825px)  {
    .headerprops {
        font-size: 175%;
        margin-left: 5%;
        margin-right: 2.5%;
    }

    #messagebutton {
        width: 15%;
    }
}
